name: Deploy to Octenium

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install
      - run: npm run build

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY_B64 }}" | base64 -d > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -p 5804 162.19.98.77 >> ~/.ssh/known_hosts

      - name: Debug SSH
        run: |
          cat ~/.ssh/id_ed25519
          ssh -i ~/.ssh/id_ed25519 -p 5804 -v mbvxsnwh@162.19.98.77 exit    

      - name: Deploy
        run: |
          scp -i ~/.ssh/id_ed25519 -P 5804 -r dist/* mbvxsnwh@162.19.98.77:/home/mbvxsnwh/public_html/