name: Deploy to Octenium

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install
      - run: npm run build

      - name: Deploy via SSH
        uses: appleboy/scp-action@master
        with:
          host: 162.19.98.77
          port: 5804
          username: mbvxsnwh
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "dist/*"
          target: /home/mbvxsnwh/public_html
          strip_components: 1